@page
@model WebUI.Pages.User.AddModel
@{
    ViewData["Title"] = "Kullanıcı Ekle";
}
<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 mb-10">
            <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                        Kullanıcı Ekle
                    </h1>
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <li class="breadcrumb-item text-muted">
                            Sayfalar
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-500 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            Kullanıcı İşlemleri
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="kt_app_content" class="app-content  flex-column-fluid ">
            <div id="kt_app_content_container" class="app-container  container-xxl ">
                <form class="form d-flex flex-column flex-lg-row" method="post" asp-page-handler="Register">
                    <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                        <div class="card card-flush py-4">
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>Durum</h2>
                                </div>
                                <div class="card-toolbar">
                                    <div class="rounded-circle bg-success w-15px h-15px" id="statusCircle"></div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <select asp-for="RegisterModel.Status" class="form-select mb-2" data-control="select2" data-hide-search="true" id="statusSelect">
                                    <option value="true" selected="">Aktif</option>
                                    <option value="false">Pasif</option>
                                </select>
                                <div class="text-muted fs-7">Kullanıcının pasif olarak seçilmesi, kullanıcının kullanılamayacağı anlamına gelir. Daha sonra kullanıcı, liste üzerinden aktifleştirilebilir.</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                        <div class="card card-flush py-4">
                            <div class="card-header">
                                <div class="card-title">
                                    <h2>Kullanıcı Bilgileri</h2>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-semibold fs-6">Ad</label>

                                    <div class="col-lg-8 fv-row">
                                        <input asp-for="RegisterModel.FirstName" class="form-control form-control-lg form-control mb-3 mb-lg-0" autocomplete="off">
                                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                            <span asp-validation-for="RegisterModel.FirstName"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label required fw-semibold fs-6">Soyad</label>

                                    <div class="col-lg-8 fv-row">
                                        <input asp-for="RegisterModel.LastName" class="form-control form-control-lg form-control" autocomplete="off">
                                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                            <span asp-validation-for="RegisterModel.LastName"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6">Telefon</label>

                                    <div class="col-lg-8 fv-row">
                                        <input asp-for="RegisterModel.Phone" class="form-control form-control-lg form-control" placeholder="5XXXXXXXXX" autocomplete="off">
                                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                            <span asp-validation-for="RegisterModel.Phone"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6 required">Eposta</label>

                                    <div class="col-lg-8 fv-row">
                                        <input asp-for="RegisterModel.Email" class="form-control form-control-lg form-control" autocomplete="off">
                                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                            <span asp-validation-for="RegisterModel.Email"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label fw-semibold fs-6 required">Şifre</label>

                                    <div class="col-lg-8 fv-row">
                                        <div class="input-group mb-7">
                                            <input asp-for="RegisterModel.Password" id="passwordInput" class="form-control form-control-lg form-control" autocomplete="off" aria-describedby="passwordIcon">
                                            <span class="input-group-text" id="passwordIcon" role="button">
                                                <i class="ki-solid ki-eye fs-4"></i>
                                            </span>
                                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                                <span asp-validation-for="RegisterModel.Password"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">
                                    Kaydet
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="d-none">
    <input asp-for="ToastrError" />
</div>
<div class="d-none">
    <input asp-for="ToastrSuccess" />
</div>

@section _Foot{
    <script src="~/assets/js/pages/user/user.js"></script>
}