@page
@{
    ViewData["Title"] = "Etiket Yazdır";
}

<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 mb-10">
            <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                        Etiket Yazdır
                    </h1>
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <li class="breadcrumb-item text-muted">
                            Ürün
                        </li>
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-500 w-5px h-2px"></span>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            Ürün İşlemleri
                        </li>
                    </ul>
                </div>
            </div>
        </div>
		<div id="kt_app_content" class="app-content  flex-column-fluid ">
			<div id="kt_app_content_container" class="app-container  container-xxl " >                
                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                    <div class="card card-flush py-4">
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Ürün Bilgileri</h2>
                            </div>
                        </div>
                        <div class="card-body pt-0">

                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Ürün Barkodu</label>

                                <div class="col-lg-8 fv-row">
                                    <input type="text" id="productBarcode" class="form-control form-control-lg form-control mb-3 mb-lg-0" autocomplete="off">                                    
                                </div>
                            </div>    
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Ürün Adı</label>

                                <div class="col-lg-8 fv-row">
                                    <input type="text" id="productName" class="form-control form-control-lg form-control mb-3 mb-lg-0" autocomplete="off">
                                </div>
                            </div>
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Ürün Fiyatı</label>

                                <div class="col-lg-8 fv-row">
                                    <input type="text" id="productPrice" class="form-control form-control-lg form-control mb-3 mb-lg-0" autocomplete="off">
                                </div>
                            </div>
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Ürün Fiyat Değişim Tarihi</label>

                                <div class="col-lg-8 fv-row">
                                    <div class="input-group" id="kt_td_picker_date_only" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                        <input id="priceChangeDate" type="text" class="form-control" data-td-target="#priceChangeDate" />
                                        <span class="input-group-text" data-td-target="#priceChangeDate" data-td-toggle="datetimepicker">
                                            <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span class="path2"></span></i>
                                        </span>
                                    </div>
                                </div>
                            </div>  
                            
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Menşei</label>
                                <div class="col-lg-8 fv-row">
                                    <select class="form-select mb-2" data-control="select2" id="productOrigin">
                                        <option value="Türkiye">Türkiye</option>
                                        <option value="ABD Virgin Adaları">ABD Virgin Adaları</option>
                                        <option value="Almanya">Almanya</option>
                                        <option value="Amerika Birleşik Devletleri">Amerika Birleşik Devletleri</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Antigua ve Barbuda">Antigua ve Barbuda</option>
                                        <option value="Arjantin">Arjantin</option>
                                        <option value="Arnavutluk">Arnavutluk</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Avustralya">Avustralya</option>
                                        <option value="Avusturya">Avusturya</option>
                                        <option value="Azerbaycan">Azerbaycan</option>
                                        <option value="Bahama">Bahama</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahreyn">Bahreyn</option>
                                        <option value="Bangladeş">Bangladeş</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belçika">Belçika</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Beyaz Rusya">Beyaz Rusya</option>
                                        <option value="Birleşik Arap Emirlikleri">Birleşik Arap Emirlikleri</option>
                                        <option value="Bolivya">Bolivya</option>
                                        <option value="Bosna Hersek">Bosna Hersek</option>
                                        <option value="Brezilya">Brezilya</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaristan">Bulgaristan</option>
                                        <option value="Burma">Burma</option>
                                        <option value="Cebelitarık">Cebelitarık</option>
                                        <option value="Çek Cumhuriyeti">Çek Cumhuriyeti</option>
                                        <option value="Çin">Çin</option>
                                        <option value="Danimarka">Danimarka</option>
                                        <option value="Dominik Cumhuriyeti">Dominik Cumhuriyeti</option>
                                        <option value="Ekvator">Ekvator</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Endonezya">Endonezya</option>
                                        <option value="Eritre">Eritre</option>
                                        <option value="Ermenistan">Ermenistan</option>
                                        <option value="Estonya">Estonya</option>
                                        <option value="Fas">Fas</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Filipinler">Filipinler</option>
                                        <option value="Finlandiya">Finlandiya</option>
                                        <option value="Fransa">Fransa</option>
                                        <option value="Fransız Polinezyası">Fransız Polinezyası</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadalup">Guadalup</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Güney Afrika">Güney Afrika</option>
                                        <option value="Gürcistan">Gürcistan</option>
                                        <option value="Hırvatistan">Hırvatistan</option>
                                        <option value="Hindistan">Hindistan</option>
                                        <option value="Hollanda">Hollanda</option>
                                        <option value="Hollanda Antilleri">Hollanda Antilleri</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="İngiliz Virginia Adaları">İngiliz Virginia Adaları</option>
                                        <option value="İngiltere">İngiltere</option>
                                        <option value="İrlanda">İrlanda</option>
                                        <option value="İspanya">İspanya</option>
                                        <option value="İsrail">İsrail</option>
                                        <option value="İsveç">İsveç</option>
                                        <option value="İsviçre">İsviçre</option>
                                        <option value="İtalya">İtalya</option>
                                        <option value="İzlanda">İzlanda</option>
                                        <option value="Jamaika">Jamaika</option>
                                        <option value="Japonya">Japonya</option>
                                        <option value="Kamboçya">Kamboçya</option>
                                        <option value="Kanada">Kanada</option>
                                        <option value="Katar">Katar</option>
                                        <option value="Kayman Adaları">Kayman Adaları</option>
                                        <option value="Kıbrıs">Kıbrıs</option>
                                        <option value="Kolombiya">Kolombiya</option>
                                        <option value="Kore">Kore</option>
                                        <option value="Kosta Rika">Kosta Rika</option>
                                        <option value="Kuveyt">Kuveyt</option>
                                        <option value="Küba">Küba</option>
                                        <option value="Letonya">Letonya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Litvanya">Litvanya</option>
                                        <option value="Lübnan">Lübnan</option>
                                        <option value="Lüksemburg">Lüksemburg</option>
                                        <option value="Macaristan">Macaristan</option>
                                        <option value="Makedonya">Makedonya</option>
                                        <option value="Maldivler">Maldivler</option>
                                        <option value="Malezya">Malezya</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Meksika">Meksika</option>
                                        <option value="Mısır">Mısır</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monako">Monako</option>
                                        <option value="Mozambik">Mozambik</option>
                                        <option value="Nikaragua">Nikaragua</option>
                                        <option value="Norveç">Norveç</option>
                                        <option value="Özbekistan">Özbekistan</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Polonya">Polonya</option>
                                        <option value="Portekiz">Portekiz</option>
                                        <option value="Porto Riko">Porto Riko</option>
                                        <option value="Romanya">Romanya</option>
                                        <option value="Rusya">Rusya</option>
                                        <option value="Saint Kitts ve Nevis">Saint Kitts ve Nevis</option>
                                        <option value="Saint Lucia">Saint Lucia</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Seyşel">Seyşel</option>
                                        <option value="Singapur">Singapur</option>
                                        <option value="Slovakya">Slovakya</option>
                                        <option value="Slovenya">Slovenya</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Suriye">Suriye</option>
                                        <option value="Suudi Arabistan">Suudi Arabistan</option>
                                        <option value="Şili">Şili</option>
                                        <option value="Tayland">Tayland</option>
                                        <option value="Tayvan">Tayvan</option>
                                        <option value="Tunus">Tunus</option>
                                        <option value="Turks ve Caicos Adaları">Turks ve Caicos Adaları</option>
                                        <option value="Ukrayna">Ukrayna</option>
                                        <option value="Umman">Umman</option>
                                        <option value="Uruguay">Uruguay</option>
                                        <option value="Ürdün">Ürdün</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Yeni Zelanda">Yeni Zelanda</option>
                                        <option value="Yunanistan">Yunanistan</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Birim Tipi</label>
                                <div class="col-lg-8 fv-row">
                                    <select class="form-select mb-2" data-control="select2" data-hide-search="true" id="productUnitType">
                                        <option value="AD">Adet</option>
                                        <option value="LT">Litre</option>
                                        <option value="KG">Kilogram</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Birim Fiyatı</label>

                                <div class="col-lg-8 fv-row">
                                    <input id="productUnitPrice" class="form-control form-control-lg form-control mb-3 mb-lg-0" autocomplete="off" >
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" onclick="Product.PrintTagFromPage()">
                            <span class="indicator-label">
                                Yazdır
                            </span>
                        </button>
                    </div>
                </div>
			</div>
		</div>
    </div>
</div>
<div class="d-none">
    <input id="ToastrError" />
</div>
<div class="d-none">
    <input id="ToastrSuccess" />
</div>
@section _Foot{
    <script src="~/assets/js/pages/product/product.js"></script>
    <script>
        new tempusDominus.TempusDominus(document.getElementById("priceChangeDate"), {
            display: {
                viewMode: "calendar",
                components: {
                    decades: true,
                    year: true,
                    month: true,
                    date: true,
                    hours: false,
                    minutes: false,
                    seconds: false
                }
            }
        });
    </script>
}